.trial {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  background-color: black ;
  background-image: url("images/night.jpg");
  background-size: 1300px;
  font-family: sans-serif;
  color: white;
}

.center{
  height: 100px;
   width: 100px;
   position : inherit;
   left: 60%;
   margin-left: -50px;
   top: 50%;
   margin-top: -50px;
}


.time{
    height: 40px;
    width:1300px ;
    font-size: 60px;
    font-style: oblique 10deg;
    font-family:Krona One ;
    right : 500px;
}

.date {
  height: 70px;
  width: 1500px;
  font-size: 20px;
  font-style: italic;
  font-family: Krona One;
  }
