.trial {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  background-color: black ;
  background-image: url("images/night.jpg");
  background-size: 1300px;
  font-family: sans-serif;
  color: white;
}

.center{
  height: 100px;
   width: 100px;
   position: absolute;
   left: 50%;
   margin-left: -50px;
   top: 50%;
   margin-top: -50px;
}

.date {
  height: 20px;
  width: 150px;
  font-size: 30px;
  font-style: italic;
  }

.time{
    font-size: 30px;
    font-style: oblique 10deg;
}
